<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>
                <f:link.action action="show" controller="Author" pluginName="author" pageUid="{settings.authorPageId}" arguments="{author: author.uid}">{category.title}</f:link.action>
            </td>
        </tr>
    </table>
    <f:link.page pageUid="{settings.categoryPageId}" class="backlink"><f:translate id="backlink"/></f:link.page>
</f:section>

</html>
